<!DOCTYPE html>
<html ng-app="showcase">
<head>
<meta charset="ISO-8859-1">
<title>All Batches</title>

<!-- jQuery -->
<script src="resources/js/jquery.js"></script>
<script src="resources/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="resources/css/jquery.dataTables.min.css">

<!-- Angular -->
<script src="resources/js/angular.js"></script>

<script src="resources/js/angular-datatables.directive.js"></script>
<script src="resources/js/angular-datatables.instances.js"></script>
<script src="resources/js/angular-datatables.util.js"></script>
<script src="resources/js/angular-datatables.renderer.js"></script>
<script src="resources/js/angular-datatables.factory.js"></script>
<script src="resources/js/angular-datatables.options.js"></script>
<script src="resources/js/angular-datatables.js"></script>

<!-- Custom -->
<script src="resources/js/viewDataTables2.js"></script>
</head>
<body>
	<div class="batchView">
		<header>
			<h1>View All-Batches</h1>
		</header>
		<table  datatable="" class="row-border hover" style="width: 100%">
			<tr class="tableHeader" id="tableHeader">
				<th>Batch Name</th>
				<th>Topic</th>
				<th>Curriculum</th>
				<th>Trainer</th>
				<th>Start Date</th>
				<th>End Date</th>
			</tr>
			<tr class="tableRow" ng-repeat="batch in Batches" ng-click="editBatch(batch.batchID)">
				<td>{{ batch.bName }}</td>
				<td>{{ batch.batchTopicID.topicName }}</td>
				<td>{{ batch.batchCurriculumID.curriculumName}}</td>
				<td>{{ batch.batchTrainerID.trainerFirstName }} {{batch.batchTrainerID.trainerLastName}}</td>
				<td>{{ createDate(batch.batchStartDate) }}</td>
				<td>{{ createDate(batch.batchEndDate) }}</td>
			</tr>
		</table>
	</div>

</body>
</html>