<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>All Batches</title>
</head>
<body>
	<div class="batchView">
		<header>
			<h1>View All-Batches</h1>
		</header>
		<table style="width: 100%">
			<tr class="tableHeader" id="tableHeader">
				<th>Batch Name</th>
				<th>Topic</th>
				<th>Curriculum</th>
				<th>Trainer</th>
				<th>Start Date</th>
				<th>End Date</th>
			</tr>
			<tr class="tableRow" ng-repeat="batch in Batches" ng-click="editBatch(batch.batchID)">
				<td>{{ batch.bName }}</td>
				<td>{{ batch.batchTopicID.topicName }}</td>
				<td>{{ batch.batchCurriculumID.curriculumName}}</td>
				<td>{{ batch.batchTrainerID.trainerFirstName }} {{batch.batchTrainerID.trainerLastName}}</td>
				<td>{{ createDate(batch.batchStartDate) }}</td>
				<td>{{ createDate(batch.batchEndDate) }}</td>
			</tr>
		</table>
	</div>
	<br><br>

</body>
</html>