<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Trainer Page</title>
</head>
<body>
	<section id="viewTrainerContainer">
	<header>
		<h1>Here's the list of trainers:</h1>
	</header>
	<article class="trainerDetailContainer" ng-repeat="trainer in trainers">
		<h3>{{trainer.trainerFirstName}} {{trainer.trainerLastName}}</h3>
		<div class="locationLabel"><p>Location: {{trainer.trainerLocationID.locationName}}</p></div><div class="statusLabel"><p>Status: {{trainer.trainerStatusID.tName}}</p></div>
		<button id="myBtn" ng-click="modalView=true;">Open Modal</button>
		<div id="myModal" class="modal" ng-show="modalView">
			<!-- Modal content -->
		  	<div class="modal-content">
		    	<span class="close" ng-click="modalView=false;">×</span>
		    	<h3>{{trainer.trainerFirstName}} {{trainer.trainerLastName}}</h3>
		    	<div class="locationLabel"><p>Location: {{trainer.trainerLocationID.locationName}}</p></div><div class="statusLabel"><p>Status: {{trainer.trainerStatusID.tName}}</p></div>
		    	<div ng-repeat="skill in trainer.skill">
		    		<p>{{skill.skillName}}</p>
		    	</div>
		    	<article></article>
		    </div>
		</div>
	</article>
	<footer></footer>
	</section>
</body>
</html>